<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle</title>
</head>
<body>
    <div>
        <h2>Circle Calculator Page</h2>
        <form action="/circle" method="POST">
            <div>
                <label>Radius</label>
                <input type="text" name="radius" id="radius"/>
            </div>
            <button type="submit">Submit</button>

        </form>
    </div>
</body>
</html>